.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: min-content;
        padding: 50px;
        background-color: aliceblue;
        border-radius: 5px;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-bottom: 40px;

            i {
                font-size: 40px;
            }

            span {
                font-size: 25px;
            }
        }

        input {
            border: .5px solid black;
            border-radius: 2px;
            padding: 5px;
            width: 300px;
            margin: 5px 0 20px 0;

            &:focus{
                outline: none;
            }
        }

        .ask {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 15px;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }

        button {
            background-color: white;
            border: .5px solid black;
            border-radius: 2px;
            width: 100%;
            padding: 8px;
            margin-top: 20px;
            cursor: pointer;
            font-size: 15px;

            &:hover {
                background-color: lightblue;
            }
        }
    }
}