header {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;

    .logoSection {
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        display: flex;
        gap: 15px;

        i {
            font-size: 40px;
        }
    }

    .user {
        font-size: 25px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
    }

}