header {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;

    .logoSection {
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        display: flex;
        gap: 15px;

        i {
            font-size: 40px;
        }
    }

    .iconSection {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-radius: 25px;
        padding: 5px;
        gap: 5px;
        cursor: pointer;

        span {
            margin-left: 5px;
        }

        .user {
            font-size: 25px;
        }

    }
}