.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;

    input {
        width: 100%;
        border: 0;
        border-radius: 5px;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    i {
        font-size: 18px;
    }
}