header {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 30px;

    .logo {
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        display: flex;
        gap: 15px;

        i {
            font-size: 40px;
        }
    }

    .icon {
        font-size: 25px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

.movies {
    background-color: rgb(217, 236, 252);
    margin: 0 10px;
    border-radius: 5px;
    padding: 30px;
}