header {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 30px;

    .logo {
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        display: flex;
        gap: 15px;

        i {
            font-size: 40px;
        }
    }

    #userSwitch {
        display: none;
    }

    #userSwitch:checked + label {
        span {
            display: inline;
        }

        i {
            color: rgb(0, 136, 255);
        }
    }

    label {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        border: 1px solid;
        border-radius: 20px;

        span {
            display: none;
            font-size: 12px;
            padding: 5px;
        }

        i {
            font-size: 25px;
            display: flex;
            align-items: center;
            gap: 15px;
        }

    }
}